
  
  body {
    font: 400 20px Lato, sans-serif;
    line-height: 1.8;
    color: #2c3e50;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .jumbotron {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 100px 400px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #ecf0f1;
  }
  .bg-gray {
    background-color:  #33d9b2;
  }
  
.col-sm-3 {
    color: black;
}
 
 h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
     color:black;
  }
  
  
 
  .panel-footer {
    background-color: white !important;
  }
 
  .navbar {
      position: fixed;
    margin-bottom: 0;
    background-color:#33d9b2;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color:  #33d9b2 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: darkolivegreen;
    color: #ecf0f1!important;
  }
  footer .glyphicon {
    font-size: 40px;
    margin-bottom: 5px;
    color:  #33d9b2;
  }
  
 h3 {
    font-size: 20px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }






