

*[role="form"] {
    max-width: 950px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #EAEAEA;
   
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600px;
    color: #191970;
    margin-top: 20%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.form-group{
color: darkblue;
}

