body {
  margin-left: 450px;
  padding: 0;
  background-color: #fff;

  height: 200vh;
  
}
#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 900px;
  height: 400px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 40px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -50px;
}

